<h1> Doggies ready for a hangout: </h1>

<div class="list">
<% @dogs.each do |dog| %>
<h2><%= link_to dog.name, dog_path(dog) %></h2>
<p> <%= dog.breed %></p>
<p> <%= dog.sex %></p>
<p> <%= dog.age %></p>
<p> <%= dog.cuddly %></p>
<p> <%= dog.energetic %></p>
<p> <%= dog.obedient %></p>
<p> <%= dog.price %></p>

<% end %>

</div>
<%#= link_to "Add your  dog", new_new_path %>

