
      <%= cl_image_tag(current_user.photo,
      width: 80, height: 80, crop: :fill) %>
    <%= simple_form_for(current_user, as: :user, method: :post, url: profile_upload_path) do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <br>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
    <h2 id="fullname"><%= @user.fullname %></h2>
    <h2 id="email"><%= @user.email %></h2>
    <h2 id="postcode"><%= @user.postcode %></h2>
    <h2 id="age"><%= @user.age %></h2>
    <h2 id="dog_preference"><%= @user.dog_preference %></h2>


    <p><strong>Recent Hangouts</strong></p>




    <p><strong>Upcoming Hangouts</strong></p>
    <p><strong>Billing Information</strong></p>
    <p><strong>Profile Details and Settings</strong></p>

